<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcb.dao.IAssembleTestDao" >

    <resultMap id="assembleTestPojoResultMap" type="com.tcb.pojo.AssembleTestPojo">
        <id column="test_id" property="testId" jdbcType="BIGINT" />
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="pass_flag" property="passFlag" jdbcType="TINYINT"/>
        <result column="test_memo" property="testMemo" jdbcType="VARCHAR"/>
        <result column="opt_user_id" property="optUserId" jdbcType="INTEGER"/>
        <result column="opt_user_name" property="optUserName" jdbcType="VARCHAR"/>
        <result column="opt_time" property="optTime" jdbcType="TIMESTAMP"/>
        <association property="assemblePojo" column="assemble_id" javaType="com.tcb.pojo.AssemblePojo"
                     resultMap="com.tcb.dao.IAssembleDao.assemblePojoResultMap"></association>
    </resultMap>

    <!-- 查询组装测试信息个数 -->
    <select id="getAssembleTestCount" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT tsa.assemble_id)
        FROM tbl_sys_assemble tsa
        INNER JOIN tbl_sys_param tsp ON tsa.pn_code = tsp.param_code
        INNER JOIN tbl_util_deliver_status tuds ON tsa.assemble_status = tuds.status_code
        LEFT JOIN tbl_sys_assemble_test tsat ON tsa.assemble_id = tsat.assemble_id
        LEFT JOIN tbl_sys_user tsu ON tsa.opt_user = tsu.user_id
        <where>
            <if test="assembleTestPojo.assemblePojo != null and assembleTestPojo.assemblePojo.assembleId != null
                and assembleTestPojo.assemblePojo.assembleId>0">
                tsa.assemble_id = #{assembleTestPojo.assemblePojo.assembleId}
            </if>
            <if test="assembleTestPojo.assemblePojo != null and assembleTestPojo.assemblePojo.pnCode != null
                and assembleTestPojo.assemblePojo.pnCode.paramCode != null and assembleTestPojo.assemblePojo.pnCode.paramCode != ''">
                AND tsa.pn_code = #{assembleTestPojo.assemblePojo.pnCode.paramCode}
            </if>
            <if test="assembleTestPojo.assemblePojo != null and assembleTestPojo.assemblePojo.snCode != null
                and assembleTestPojo.assemblePojo.snCode !=''">
                AND tsa.sn_code LIKE CONCAT('%',CONCAT(#{assembleTestPojo.assemblePojo.snCode},'%'))
            </if>
            <if test="assembleTestPojo.assemblePojo != null and assembleTestPojo.assemblePojo.jobNo != null
                and assembleTestPojo.assemblePojo.jobNo != ''">
                AND tsa.job_no LIKE CONCAT('%',CONCAT(#{assembleTestPojo.assemblePojo.jobNo},'%'))
            </if>
            <if test="statusCodeList != null and statusCodeList.size()>0">
                AND tsa.assemble_status IN
                <foreach collection="statusCodeList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 新增组装测试信息 -->
    <select id="getAssembleTest" resultMap="assembleTestPojoResultMap">
        SELECT DISTINCT
            tsa.assemble_id,
            tsp.param_code,
            tsp.param_name,
            tuds.status_id,
            tuds.status_code,
            tuds.status_name,
            tsa.sn_code,
            tsa.assemble_status,
            tsa.complete_date,
            tsa.job_no,
            tsa.crux_no,
            tsa.assemble_memo,
            tsat.test_id,
            tsat.begin_time,
            tsat.end_time,
            tsat.pass_flag,
            tsat.test_memo,
            tsat.opt_user AS opt_user_id,
            tsu.user_name AS opt_user_name,
            tsat.opt_time
        FROM tbl_sys_assemble tsa
        INNER JOIN tbl_sys_param tsp ON tsa.pn_code = tsp.param_code
        INNER JOIN tbl_util_deliver_status tuds ON tsa.assemble_status = tuds.status_code
        LEFT JOIN tbl_sys_assemble_test tsat ON tsa.assemble_id = tsat.assemble_id
        LEFT JOIN tbl_sys_user tsu ON tsa.opt_user = tsu.user_id
        <where>
            <if test="assembleTestPojo.assemblePojo != null and assembleTestPojo.assemblePojo.assembleId != null
                and assembleTestPojo.assemblePojo.assembleId>0">
                tsa.assemble_id = #{assembleTestPojo.assemblePojo.assembleId}
            </if>
            <if test="assembleTestPojo.assemblePojo != null and assembleTestPojo.assemblePojo.pnCode != null
                and assembleTestPojo.assemblePojo.pnCode.paramCode != null and assembleTestPojo.assemblePojo.pnCode.paramCode != ''">
                AND tsa.pn_code = #{assembleTestPojo.assemblePojo.pnCode.paramCode}
            </if>
            <if test="assembleTestPojo.assemblePojo != null and assembleTestPojo.assemblePojo.snCode != null
                and assembleTestPojo.assemblePojo.snCode !=''">
                AND tsa.sn_code LIKE CONCAT('%',CONCAT(#{assembleTestPojo.assemblePojo.snCode},'%'))
            </if>
            <if test="assembleTestPojo.assemblePojo != null and assembleTestPojo.assemblePojo.jobNo != null
                and assembleTestPojo.assemblePojo.jobNo != ''">
                AND tsa.job_no LIKE CONCAT('%',CONCAT(#{assembleTestPojo.assemblePojo.jobNo},'%'))
            </if>
            <if test="statusCodeList != null and statusCodeList.size()>0">
                AND tsa.assemble_status IN
                <foreach collection="statusCodeList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY tsa.crux_no
        <if test="assembleTestPojo.rowIndex != null and assembleTestPojo.rowIndex >=0
            and assembleTestPojo.rowCount != null and assembleTestPojo.rowCount>0">
            LIMIT #{assembleTestPojo.rowIndex},#{assembleTestPojo.rowCount}
        </if>
    </select>

    <!-- 新增组装测试信息 -->
    <insert id="insertAssembleTest" parameterType="com.tcb.pojo.AssembleTestPojo">
        INSERT INTO tbl_sys_assemble_test(
            assemble_id,
            begin_time,
            end_time,
            pass_flag,
            test_memo,
            opt_user
        )VALUES (
            #{assembleTestPojo.assemblePojo.assembleId},
            #{assembleTestPojo.beginTime},
            #{assembleTestPojo.endTime},
            #{assembleTestPojo.passFlag},
            #{assembleTestPojo.testMemo},
            #{assembleTestPojo.optUserId}
        )
    </insert>

    <!-- 更新组装测试信息 -->
    <update id="updateAssembleTest" parameterType="com.tcb.pojo.AssembleTestPojo">
        UPDATE tbl_sys_assemble_test
        SET assemble_id = #{assembleTestPojo.assemblePojo.assembleId}
        ,begin_time = #{assembleTestPojo.beginTime}
        ,end_time = #{assembleTestPojo.endTime}
        ,pass_flag = #{assembleTestPojo.passFlag}
        ,test_memo = #{assembleTestPojo.testMemo}
        ,opt_time = #{assembleTestPojo.optTime}
        <if test="assembleTestPojo.optUserId != null and assembleTestPojo.optUserId>0">
            ,opt_user = #{assembleTestPojo.optUserId}
        </if>
        WHERE test_id =  #{assembleTestPojo.testId}
    </update>

    <!-- 删除组装测试信息 -->
    <delete id="deleteAssembleTest" parameterType="java.util.List">
        DELETE FROM tbl_sys_assemble_test
        <where>
            <choose>
                <when test="idList != null and idList.size()>0">
                    test_id IN
                    <foreach collection="idList" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    test_id IS NULL
                </otherwise>
            </choose>
        </where>
    </delete>

    <!-- 组装测试是否能被删除 -->
    <select id="canAssembleTestDelete" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT tsa.assemble_id)
        FROM tbl_sys_assemble tsa
        WHERE tsa.assemble_id = #{assembleId}
        AND tsa.assemble_status IN ('061','070','072')
    </select>

    <!-- 组装测试是否能被修改 -->
    <select id="canAssembleTestModify" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT tsa.assemble_id)
        FROM tbl_sys_assemble tsa
        WHERE tsa.assemble_id = #{assembleId}
        AND tsa.assemble_status IN ('061','070','072')
    </select>

    <!-- 是否存在组装测试 -->
    <select id="existAssembleTest" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT test_id)
        FROM tbl_sys_assemble_test
        WHERE assemble_id = #{assembleId}
    </select>

    <!-- 通过组装ID查询组装测试信息 -->
    <select id="getAssembleTestByAssembleId" resultMap="assembleTestPojoResultMap">
        SELECT DISTINCT
            tsa.assemble_id,
            tsp.param_code,
            tsp.param_name,
            tuds.status_id,
            tuds.status_code,
            tuds.status_name,
            tsa.sn_code,
            tsa.assemble_status,
            tsa.complete_date,
            tsa.job_no,
            tsa.crux_no,
            tsa.assemble_memo,
            tsat.test_id,
            tsat.begin_time,
            tsat.end_time,
            tsat.pass_flag,
            tsat.test_memo,
            tsat.opt_user AS opt_user_id,
            tsu.user_name AS opt_user_name,
            tsat.opt_time
        FROM tbl_sys_assemble tsa
        INNER JOIN tbl_sys_param tsp ON tsa.pn_code = tsp.param_code
        INNER JOIN tbl_util_deliver_status tuds ON tsa.assemble_status = tuds.status_code
        INNER JOIN tbl_sys_assemble_test tsat ON tsa.assemble_id = tsat.assemble_id
        INNER JOIN tbl_sys_user tsu ON tsa.opt_user = tsu.user_id
        WHERE tsa.assemble_id = #{assembleId}
    </select>

</mapper>